<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVA 01</title>
</head>
<body>
    <nav>
    <ul id="Inicio">
        <li><a href="./">Héroes de la Historia</a></li>
        <li>Índice</li>
        <ol>
            <li><a href="#EVA01">EVA01</a></li>
            <li><a href="#LosEVAs">Los EVAs y su función</a></li>
            <li><a href="#Ángeles">Ángeles</a></li>
            <li><a href="#Pilotos">Pilotos de EVAs</a></li>
        </ol>
    </ul>
</nav>
    <div>
    <h1 id="EVA01">EVA 01: Neon Genesis Evangelion</h1>
    <img src="./images/Eva01.png" alt="Héroe: Eva 01" width="150"><p>El Evangelion Unidad 01 (EVA 01) es el primer modelo no-prototipo de Unidad Evangelion. Esta unidad es pilotada por <a href="#Shinji">Shinji Ikari</a>, y habitada por el alma de su madre, Yui Ikari. El EVA-01 fue creado por la organización GEHIRN en el Laboratorio de Evolución Artificial ubicado en Hakone y designado como Modelo de Pruebas.</p>
</div>
<div>
    <h3 id="LosEVAs">Los EVAs y su función</h3>
    <p>Al igual que el resto de la serie de EVAs, la unidad fue creada como un arma para ser usada contra los <a href="#Ángeles">Ángeles</a>, y fue el primer Evangelion usado en un combate real contra un ángel.</p>
    <img src="./images/Eva01_Fighting.jpg" alt="Eva01_Fighting" width="400">
    <p>Aunque a simple vista aparentan ser robots humanoides gigantes, los EVAs son en realidad semicibernéticos, integrando un ser biológico con infraestructura mecánica, polímero flexible y armadura. Esta armadura es casi impenetrable para las armas convencionales, pero tiene distintos niveles de efectividad contra los ataques de los <span>ángeles</span>.</p>
</div>
<div>
    <h3 id="Ángeles">Ángeles</h3>
    <p>Los ángeles son la progenie de Adán, el primero de ellos. Todos producen un campo AT de distintas intensidades, y todos son identificados como de patrón sanguíneo azul, tengan o no sangre.</p>
    <img src="./images/Angeles.jpg" alt="Angeles" width="960" height="900">
    <P>Sus cuerpos reciben energía de motores S² internos, y poseen un núcleo en el que reside su alma: suficiente daño a este lugar produce la muerte del ángel. Algunos de ellos, llegado ese punto, se autodestruyen, bien con una gran explosión, o sólo desintegrándose.</P>
    <P>No existe una forma ni fisiología común para los ángeles. Su tamaño pasa desde lo microscópico hasta lo gigantesco, y sus formas son de lo más exóticas. Tampoco está claro su origen: algunos surgen del mar, otros se manifiestan directamente encima de Tokio-3, y en algunas ocasiones, vienen de más allá de la atmósfera. Sus llegadas están predichas en los Manuscritos del Mar Muerto.
    </P>
</div>
<div>
    <h3 id="Pilotos">Pilotos de EVAs</h3>
    <ul type="none">
        <li id="Shinji">Shinji Ikari: Es el piloto designado del Evangelion Unidad 01 y es hijo de la bioingeniera Yui Ikari y del jefe de la organización NERV, Gendo Ikari. Después de la muerte de su madre, fue abandonado por su padre y vivió durante 11 años con su sensei, hasta que fue llamado a Tokio-3 para pilotar la Unidad-01 y enfrentar a los ángeles.</li>
        <img src="./images/Shinji_Eva01.jpg" alt="Shinji_Ikari">
        <li>Asuka Langley Sohryu: es la piloto designada del Evangelion Unidad 02. Asuka es mitad japonesa y mitad alemana, al parecer, por parte de su madre. Mientras que por parte de su padre es mitad estadounidense. Su madre, Kyoko Zeppelin Sohryu, fue parte de la rama alemana de GEHIRN y participó en el Proyecto E.</li>
        <img src="./images/Asuka_Eva02.jpg" alt="Asuka_Eva02" width="450">
        <li>Toji Suzuhara: es el designado como piloto del Evangelion Unidad 03. Toji es un buen amigo de Kensuke Aida, y tiene constantes conflictos con Asuka Langley Sohryu. Es huérfano de madre, al igual que todos sus compañeros de clase. Vive con su hermana menor, su padre y su abuelo, quienes también trabajan en un laboratorio de NERV. Su hermana resultó lastimada en la batalla entre el ángel Sachiel y el Evangelion Unidad 01.</li>
        <img src="./images/Toji_Eva03.jpg" alt="Toji_Eva03">
    </ul>
</div>
<nav>
    <h5><a href="#Inicio">Volver Al Inicio</a></h5>
</nav>
</body>
</html>