<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash</title>
</head>
<body>
    <nav>
        <ul id="Inicio">
            <li><a href="./">Héroes de la Historia</a></li>
            <li>Índice</li>
            <ol>
                <li><a href="#Flash">Flash: DC Comics</a></li>
                <li><a href="#LosFlash">Biografías de Flash</a></li>
                <li><a href="#OtherFlash">Otros personajes en utilizar el nombre "Flash"</a></li>
                <li><a href="#Poderes">Poderes y habilidades</a></li>
            </ol>
        </ul>
    </nav>
    <div>
        <h1 id="Flash">Flash: DC Comics</h1>
        <img src="./images/Flash.jpg" alt="Flash" width="300">
        <p>Flash es el nombre del superhéroe clasificado como "metahumano" el cual obtiene el poder de la "Fuerza de la velocidad".</p>
        <p>Han asumido el papel del Flash al menos cuatro personas diferentes: el atleta universitario Jay Garrick siendo el primero en portar el título; el científico forense Barry Allen; el sobrino de Barry Wally West; y el nieto de Barry Bart Allen. Se creía que West era el único que sabía dominar la fuerza de la velocidad, pero actualmente Barry Allen y otros personajes que han adquirido “la fuerza de velocidad” han demostrado cierto nivel de poder y control sobre esta.</p>
    </div>
    <div>
        <h3 id="LosFlash">Biografías de Flash</h3>
        <img src="./images/AllFlash.jpg" alt="AllFlash" width="300">
        <h4>Jay Garrick:</h4>
        <p>Jay Garrick era un estudiante universitario en 1938 que accidentalmente inhaló vapores de agua pesada después de tomar un descanso para fumar dentro de su laboratorio donde había estado trabajando. Como resultado, descubrió que podía correr a una velocidad sobrehumana y que tenía reflejos igualmente rápidos. Después de una breve carrera como estrella de fútbol americano universitario, se puso una camisa roja con un rayo y un estilizado casco de metal con alas, posterior a eso comenzó a luchar contra el crimen como el Flash. Garrick mantuvo su identidad en secreto durante años sin una máscara, al hacer vibrar continuamente su cuerpo mientras estaba en público para que cualquier fotografía de su rostro se volviera borrosa.</p><img src="./images/JayGarrick.jpg" alt="JayGarrick" width="300">
        <p>Jay se retiró provocando que la Sociedad de la Justicia de América se disolviera, pero en 1961 Jay salió de su retiro y conoció al Flash del mundo paralelo, es decir, a Barry Allen. Jay siguió luchando contra el crimen, y aunque cronológicamente debería representar 80 años, tiene solo 50 debido a algunos experimentos; de esta manera se ha mantenido vigente y ha continuado con la tarea abandonada por otros superhéroes.</p>
        <h4>Barry Allen:</h4>
        <p>Bartholomew Henry "Barry" Allen es un científico asistente de la División de Ciencia Criminal y Forense del Departamento de Policía de Ciudad Central en 1956, conocido por ser lento y llegar siempre tarde a su trabajo. Una noche, un rayo cayó en su laboratorio lleno de químicos que bañaron a Allen, creando un accidente que le otorgaría una súper velocidad e increíbles reflejos. Con un traje rojo y el símbolo de un rayo, su novia lo nombró "Flash", empezando así a combatir el crimen en Ciudad Central. Como civil usaba un anillo del cual extraía su traje, el cual podía encoger por medio de un gas.</p>
        <img src="./images/BarryAllen.jpg" alt="BarryAllen" width="300">
        <p>Flash se convirtió en miembro de la Liga de la Justicia, y un gran amigo de Hal Jordan, el Linterna Verde. Su esposa Iris West averiguó la identidad de Allen, ya que este hablaba dormido, aunque Barry le revelaría su secreto más tarde. Bart, el nieto de ambos, fue enviado desde el siglo XXX, y adoptado por Iris en el siglo XX. En los años 80 la vida de Flash comenzó a colapsar.</p>
        <h4>Wally West:</h4>
        <p>Wallace Rudolph "Wally" West es el sobrino de Barry Allen por parte de su esposa Iris West.Cuando West tenía cerca de diez años fue a visitar a su tío al trabajo; sin embargo el accidente que le dio a Barry Allen sus poderes se repitió en Wally, derramando químicos sobre él y otorgándole los mismos poderes. West hizo una copia del traje de su tío y empezó a combatir el crimen bajo el nombre de Kid Flash. Más tarde cambió su traje a uno rojo con amarillo, el cual dejaba su cabello expuesto. Fue uno de los fundadores de Los Jóvenes Titanes junto al primer Robin (Dick Grayson), Aqualad, Wonder Girl (Donna Troy) y Speedy (Roy Harper). Al crecer, West se dio cuenta de que sus poderes se debilitaban y que su cuerpo sufría severos daños, por lo que se retiró de la lucha contra el crimen hasta poder encontrar una cura.</p><img src="./images/WallyWest.jpg" alt="WallyWest" width="300">
        <h4>Bart Allen:</h4>
        <p>Bartholomew Henry "Bart" Allen II fue el segundo Kid Flash y el cuarto Flash. Bart es el hijo de Don Allen, uno de los Gemelos Tornado, y Meloni Thawne, además de ser nieto de Barry Allen y su esposa Iris. Bart sufría de envejecimiento acelerado y, como resultado, se crio en una máquina de realidad virtual hasta que Iris lo llevó al siglo 20 para recibir ayuda del Flash actual, Wally West. Con la ayuda de Wally, el envejecimiento de Bart disminuyó y tomó el nombre de Impulso. Después de que Deathstroke le disparara en la rodilla, Bart cambió tanto su actitud como su disfraz, tomando el manto de Kid Flash.</p><img src="./images/BartAllen.jpg" alt="BartAllen" width="300">
    </div>
    <div>
        <h3 id="OtherFlash">Otros personajes en utilizar el nombre "Flash"</h3>
        <h4>Dark Flash:</h4>
        <p>Dark Flash es un Doppelgänger de Flash. Su verdadera identidad es Walter West. Originalmente era un héroe que cayó en la locura después de la muerte de su esposa Linda Park. Después de esto se volvió brutal aplicando tortura a los criminales.</p><img src="./images/DarkFlash.jpg" alt="DarkFlash" width="300">
        <h4>John Fox:</h4>
        <p>John Fox fue un historiador de la Academia Nacional de Ciencias en Ciudad Central en el siglo 27. Fue enviado a tiempo para obtener la ayuda de uno o más de los tres Flash (Garrick, Allen, West), con el fin de derrotar al villano radiactivo Mota en el período de tiempo de Fox. La misión de Fox fue un fracaso, pero durante su viaje de regreso, la radiación taquiónica que lo envió a través del flujo de tiempo le dio super velocidad. Derrotó a Mota como una nueva alternación Flash. Operó como Flash de su siglo por un tiempo. </p> <img src="./images/JohnFox.jpg" alt="JohnFox" width="300">
        <h4>Flash Bizarro:</h4>
        <p>Bizarro-Flash se creó cuando Bizarro clonó a Flash. Vestía los colores opuestos de Flash, pero tenía un símbolo de mazo porque Flash tenía uno cuando lo clonaron. La versión moderna de Bizarro Flash tiene el símbolo de una mancha de mostaza en forma de rayo. Él tiene los poderes del Flash pero es completamente intangible.</p><img src="./images/BizarroFlash.jpg" alt="BizarroFlash" width="300">
    </div>
    <div>
        <h3 id="Poderes">Poderes y habilidades</h3>
        <p>Todas las encarnaciones del Flash se pueden mover, pensar y reaccionar a velocidad luz, además de tener una resistencia sobrehumana que les permite recorrer distancias increíbles. Algunas, especialmente las versiones posteriores, pueden vibrar tan rápido que pueden atravesar paredes en un proceso llamado túnel cuántico,39​ viajar en el tiempo y también pueden prestar y tomar prestado velocidad. Los velocistas también pueden sanar más rápidamente que un humano promedio, ya sea heridas, fracturas o quemaduras. Además, la mayoría de las encarnaciones tienen un aura invisible alrededor de sus respectivos cuerpos que las protege de la fricción del aire y los efectos cinéticos de sus poderes.</p>
        <img src="./images/FvsS.jpg" alt="FvsS" width="300">
        <p>Si bien varias encarnaciones del Flash han demostrado su capacidad para funcionar a la velocidad de la luz, la capacidad de robar la velocidad de otros objetos permite que los Flash respectivos incluso superen significativamente esta velocidad. No fur otro más que Wally West el que se muestra absorbiendo energía cinética en una medida que le permite moverse más rápido que la teletransportación y correr desde el final del universo a la tierra en menos de un instante Planck </p>
        <p>Los velocistas pueden a veces utilizar la capacidad de leer a velocidades increíbles y, al hacerlo, procesar grandes cantidades de información. Cualquier conocimiento que adquieran de esta manera suele ser temporal. Su capacidad para pensar rápido también les permite cierta inmunidad a la telepatía, ya que sus pensamientos operan a un ritmo demasiado rápido para que telépatas como el Detective Marciano o Gorilla Grodd lean o influyan en sus mentes.</p>
        <p>Los Flash y otros velocistas también tienen la capacidad de comunicarse entre sí a un ritmo acelerado. Esto a menudo se hace para tener conversaciones privadas frente a personas no rápidas. También tiene la capacidad de cambiar la vibración de sus cuerdas vocales para que pueda cambiar la forma en que su voz suena a los demás.</p>
        <p>Flash también ha afirmado que puede procesar pensamientos en menos de un attosegundo. A veces puede lanzar rayos creados por su súper velocidad y hacer vórtices de velocidad. Algunos Flash también tienen la capacidad de crear avatares de velocidad (es decir, duplicados) y estos avatares a veces se han enviado a diferentes líneas de tiempo para completar una misión en particular.</p>
    </div>
    <nav>
        <h5><a href="#Inicio">Volver Al Inicio</a></h5>
    </nav>
</body>
</html>