<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Hopper</title>
</head>
<body>
    <nav>
    <ul id="Inicio">
        <li><a href="./">Héroes de la Historia</a></li>
    </ul>
    </nav>
    <div>
        <h1>Edward Hopper</h1>
        <p>Edward Hopper ​fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.</p>
        <img src="./images/Hopper.jpg" alt="EdwardHopper" width="300">
        <p>Formado en Nueva York bajo el magisterio de los más destacados pintores realistas del momento, las vanguardias europeas apenas incidieron en la obra de Edward Hopper. El pintor viajó varias veces al viejo continente entre 1906 y 1910, pero lo que más atrajo allí su atención no fueron las corrientes vanguardistas (eran los tiempos del cubismo de Picasso y Braque), sino clásicos españoles como Diego Velázquez y Francisco de Goya y artistas franceses como Honoré Daumier y Édouard Manet, los cuales acabarían de configurar un realismo personal al que Hopper se mantendría fiel a lo largo de su carrera.</p>
    </div>
    <nav>
        <h5><a href="#Inicio">Volver Al Inicio</a></h5>
    </nav>
</body>
</html>