<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Héroes de la Historia</h1>
    <ol>
        <li><a href="./babbage">Eva 01</a></li>
        <li><a href="./berners-lee">Hisoka</a></li>
        <li><a href="./clarke">Flash</a></li>
        <li><a href="./hamilton">Patos</a></li>
        <li><a href="./hopper">Edward Hopper</a></li>
        <li><a href="./lovelace">Ada Lovelace</a></li>
        <li><a href="./turing">Alan Turing</a></li>
    </ol>
</body>
</html>