<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    <nav>
        <ul id="Inicio">
            <li><a href="./">Héroes de la Historia</a></li>
        </ul>
        </nav>
        <div>
            <h1>Ada Lovelace</h1>
            <p>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
            <img src="./images/Ada Lovelace.jpg" alt="AdaLovelace" width="300">
            <p>Las aportaciones de Ada Lovelace la llevaron a formar parte de la historia de la computación, gracias en parte al desarrollo de una serie de instrucciones que permitían realizar cálculos en una versión rudimentaria de lo que hoy conocemos como ordenador.</p><p>Falleció en 1852, a los 36 años por un cáncer de cuello uterino</p>
        </div>
    <nav>
        <h5><a href="#Inicio">Volver Al Inicio</a></h5>
    </nav>
</body>
</html>